html
    head
        title GeoInformatik Geländespiel
        link(rel='stylesheet', href='css/style.css')
        script
            include ../scripts/sub_game.js


    body(onload="onload_body_game()")
        div(class='header')
            div(class='headerbox')
                include header.pug
                

        h2 GeoGame Emulator 
        | Input-Mode : 
        span#inputmode
        br
        | Team Score: 
        span#scoreTeam
        br

        button(type='button' class='button blue' onclick='switchInputMode(0)') Update Position  
        button(type='button' id='btn_bomb' class='button blue' onclick='switchInputMode(3)' disabled) Setze Bombe
        button(type='button' id='btn_scan' class='button blue' onclick='useScan()' disabled) Nutze Scan
        div#map.map(style="")

        div#info
            h4 Debug Info:
            
            | Letzter klick:
            span#lastPos
