  
doctype html
html
  head
    script
      include ../lib/ol.js
    script
      include ../scripts/map.js
    script
      include ../scripts/client.js
    script
      include ../scripts/mqttws31.js
    script
      include ../scripts/mqtt-fetch.js
    script
      include ../scripts/mqtt_geoinf.js
    script
      include ../scripts/cookie.js

  body
    a(href="/node.js" style='display:block')
      div(class='headerbox')

        div(class='brandname')
          |GeoInformatik Geländespiel
    