html
    head
        title GeoInformatik Geländespiel
        link(rel='stylesheet', href='css/style.css')

        script
            include ../scripts/sub_lobbyuebersicht.js

    body(onload="onload_body_lobbyuebersicht()")

        //div#map.map(style="height:820px; width: 820px;")
        //a(method="get" class='button' href="http://192.168.0.90/default_owntracks_config.txt" download="config.otrc") Download

        div(class='')
            div(class='headerbox')
                include header.pug

        h2 Lobbyübersicht

        div#lobbyuebersicht

        div#info