html
    head
        title GeoInformatik Geländespiel
        link(rel='stylesheet', href='css/style.css')

        script
            include ../scripts/sub_lobbyuebersicht.js

    body(onload="onload_body_lobbyuebersicht()")

        div(class='')
            div(class='headerbox')
                include header.pug

        h2 Lobbyübersicht

        div#lobbyuebersicht

        div#info