html
    head
        title GeoInformatik Geländespiel
        link(rel='stylesheet', href='css/style.css')

        script
            include ../scripts/sub_lobby.js

    body(onload="onload_body_lobby()")

        div(class='')
            div(class='headerbox')
                include header.pug

        h2#lobbyname Lobby 

        |Konfigurationsdatei:
        div#konfigfile

        form(onsubmit="download_config(this['name'].value, this['text'].value)")
            input(type="hidden" name="name" value="config.otrc")
            input#configdata(type="hidden" name="text" value="benis")
            input(type="submit" value="Download Owntracks Config")

        div#lobbynames

        h4 Team-A
        div#teamA
        br
        h4 Team-B
        div#teamB

        div#startbutton

        button(onclick="switchTeam()" type="button" class="button center blue") Team wechseln
        button(onclick="leave_lobby()" type="button" class="button center blue") Lobby verlassen

        div#info